html, body {
    margin: 0;
    padding: 0;
}
body {
    font-size: 1rem;
    background-color: #999;
}
h1 {
    margin: 0;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    background-color: #CFC;
    border-bottom: 1px solid #000;
}
p {
    font-size: inherit;
}
#coords, #distance, #accuracy {
    margin: 5px;
}
