html, body {
    margin: 0;
    padding: 0;
    background: white;
}
header, footer {
    background: #2E64FE; 
    height: 10vh;
    width: 100vw;
    text-align: center;
    overflow: hidden;
}
main {
    display: table-cell;
    visibility: hidden;
    width: 100vw;
    text-align: center;
    vertical-align: middle;
    height: 80vh;
    overflow: hidden;
}
main.visible {
    background-color: #000;
    background-image: url(The_Earth_seen_from_Apollo_17.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
    visibility: visible;
}
h1 {
    text-align: center;
    font-size: 10vw;
    color: #FF0;
}
#show {
    width: 40vw;
    font-size: 4vw;
    padding: 0.5rem 0;
}
